VITE_SUPABASE_URL=https://watkanjjfsvqbhebchpk.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndhdGthbmpqZnN2cWJoZWJjaHBrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM2ODk5MTYsImV4cCI6MjA5OTI2NTkxNn0.VGXIRn1EpJvLmW-ZvgT4JSMuSaQVszh9YzjmkFOOANY

VITE_YANDEX_MAPS_KEY=17e35e76-00bf-4734-b0b0-41219c8fc6e3
VITE_YANDEX_GEOCODER_KEY=17e35e76-00bf-4734-b0b0-41219c8fc6e3

VITE_ADMIN_PASSWORD=31975